.detail-item {
    position: fixed;
    min-width: 250px;

    top: 30%;

    border: 1px solid #d3cfcf;
    border-radius: 5px;
}

.title {
    font-size: 2em;
}

.detail-image {
    height: 13em;
    width: 13em;
    margin: 0 auto 20px;
}

th {
    width: 70px;
    text-align: center !important;
}

@media (max-width: 770px) {
    .detail-item {
        background-color: #fff;
    }
}