.detail-item {
    border: 1px solid #d3cfcf;
    border-radius: 5px; 
}

.detail-image {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
}

th {
    width: 70px;
    text-align: center !important;
}