.page-container {
    max-width: 1200px;
    margin: auto;
}

.page-tile {
    max-width: 1200px;
    margin: auto !important;
    padding: 10px;
}

.Sidebar {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: max-width, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.Sidebar--open {
    opacity: 1;
    max-width: 30%;
}

@media (max-width: 1120px) {
    .Sidebar--open {
        min-width: 50%;
    }
}

@media (max-width: 770px) {
    .page-container {
        max-width: 470px;
    }

    .Sidebar--open {
        display: none;
    }
}

@media (max-width: 450px) {
    .page-container {
        max-width: 200px;
    }
}